---
http_interactions:
- request:
    method: post
    uri: https://sns.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=CreateTopic&Name=prices_production_prices_aaupdate_warning&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190702T215538Z
      X-Amz-Content-Sha256:
      - ce40b828c8d5fc68e02bde8733c14cc2c6e460986d7c05c59c1e5d1961fbce7f
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - f456bcc6-aa6d-5d43-b894-e9537f769f32
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <CreateTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <CreateTopicResult>
            <TopicArn>arn:aws:sns:us-east-2:381158256258:prices_production_prices_aaupdate_warning</TopicArn>
          </CreateTopicResult>
          <ResponseMetadata>
            <RequestId>f456bcc6-aa6d-5d43-b894-e9537f769f32</RequestId>
          </ResponseMetadata>
        </CreateTopicResponse>
  recorded_at: Tue, 02 Jul 2019 21:55:39 GMT
[...]
- request:
    method: post
    uri: https://sns.sa-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=CreateTopic&Name=prices_production_prices_aaadjuster_alert&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190702T215539Z
      X-Amz-Content-Sha256:
      - 199848e8b70d2aba9013018810cc1beeca94a9f601a0905b42cf9aaf1365c842
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - e55f21de-2646-5f32-a597-744bf35d122c
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <CreateTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <CreateTopicResult>
            <TopicArn>arn:aws:sns:sa-east-1:381158256258:prices_production_prices_aaadjuster_alert</TopicArn>
          </CreateTopicResult>
          <ResponseMetadata>
            <RequestId>e55f21de-2646-5f32-a597-744bf35d122c</RequestId>
          </ResponseMetadata>
        </CreateTopicResponse>
  recorded_at: Tue, 02 Jul 2019 21:55:39 GMT
- request:
    method: post
    uri: https://sns.sa-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=CreateTopic&Name=prices_production_prices_aaadjuster_alert_failures&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190702T215539Z
      X-Amz-Content-Sha256:
      - 06d70e52360d9eaf709a060488dbec5a88cb1c08365b8bf508fb0f36744f92e4
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 70f028f6-f5da-534a-8f13-7d6320c16256
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <CreateTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <CreateTopicResult>
            <TopicArn>arn:aws:sns:sa-east-1:381158256258:prices_production_prices_aaadjuster_alert_failures</TopicArn>
          </CreateTopicResult>
          <ResponseMetadata>
            <RequestId>70f028f6-f5da-534a-8f13-7d6320c16256</RequestId>
          </ResponseMetadata>
        </CreateTopicResponse>
  recorded_at: Tue, 02 Jul 2019 21:55:39 GMT
recorded_with: VCR 5.0.0
