---
http_interactions:
- request:
    method: post
    uri: https://sns.sa-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=CreateTopic&Name=system_name_production_customer_topic&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190708T194012Z
      X-Amz-Content-Sha256:
      - f2c23123d8a8134187f0b78da48172dd6354dd6fc363a993d3b0b497c37837cf
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 1617cc85-d9c7-5746-a880-9918479bfd99
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <CreateTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <CreateTopicResult>
            <TopicArn>arn:aws:sns:sa-east-1:381158256258:system_name_production_customer_topic</TopicArn>
          </CreateTopicResult>
          <ResponseMetadata>
            <RequestId>1617cc85-d9c7-5746-a880-9918479bfd99</RequestId>
          </ResponseMetadata>
        </CreateTopicResponse>
  recorded_at: Mon, 08 Jul 2019 19:40:12 GMT
- request:
    method: post
    uri: https://sns.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=CreateTopic&Name=system_name_production_address_alert&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190708T194012Z
      X-Amz-Content-Sha256:
      - 95f347474a95dff2509065caf336db401aa60288d890cb046926bcdab4ee2f94
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 422aebda-33ae-55ef-a068-be47adf3c4eb
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <CreateTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <CreateTopicResult>
            <TopicArn>arn:aws:sns:us-east-1:381158256258:system_name_production_address_alert</TopicArn>
          </CreateTopicResult>
          <ResponseMetadata>
            <RequestId>422aebda-33ae-55ef-a068-be47adf3c4eb</RequestId>
          </ResponseMetadata>
        </CreateTopicResponse>
  recorded_at: Mon, 08 Jul 2019 19:40:13 GMT
recorded_with: VCR 5.0.0
