---
http_interactions:
- request:
    method: post
    uri: https://sns.sa-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=CreateTopic&Name=system_name_production_customer_topic&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190708T194012Z
      X-Amz-Content-Sha256:
      - f2c23123d8a8134187f0b78da48172dd6354dd6fc363a993d3b0b497c37837cf
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 0c184f5a-3c3f-5964-92be-1ac7a2632383
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <CreateTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <CreateTopicResult>
            <TopicArn>arn:aws:sns:sa-east-1:381158256258:system_name_production_customer_topic</TopicArn>
          </CreateTopicResult>
          <ResponseMetadata>
            <RequestId>0c184f5a-3c3f-5964-92be-1ac7a2632383</RequestId>
          </ResponseMetadata>
        </CreateTopicResponse>
  recorded_at: Mon, 08 Jul 2019 19:40:12 GMT
- request:
    method: post
    uri: https://sns.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=CreateTopic&Name=system_name_production_address_alert&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190708T194012Z
      X-Amz-Content-Sha256:
      - 95f347474a95dff2509065caf336db401aa60288d890cb046926bcdab4ee2f94
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 59a35162-51f2-54db-81d7-04ffcfae3ceb
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <CreateTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <CreateTopicResult>
            <TopicArn>arn:aws:sns:us-east-1:381158256258:system_name_production_address_alert</TopicArn>
          </CreateTopicResult>
          <ResponseMetadata>
            <RequestId>59a35162-51f2-54db-81d7-04ffcfae3ceb</RequestId>
          </ResponseMetadata>
        </CreateTopicResponse>
  recorded_at: Mon, 08 Jul 2019 19:40:12 GMT
recorded_with: VCR 5.0.0
