---
http_interactions:
- request:
    method: post
    uri: https://sns.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=CreateTopic&Name=prices_production_prices_aaupdate_warning&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190704T140030Z
      X-Amz-Content-Sha256:
      - ce40b828c8d5fc68e02bde8733c14cc2c6e460986d7c05c59c1e5d1961fbce7f
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 37d5e81b-39c7-5f74-a1dc-bd833179c1c0
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <CreateTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <CreateTopicResult>
            <TopicArn>arn:aws:sns:us-east-2:381158256258:prices_production_prices_aaupdate_warning</TopicArn>
          </CreateTopicResult>
          <ResponseMetadata>
            <RequestId>37d5e81b-39c7-5f74-a1dc-bd833179c1c0</RequestId>
          </ResponseMetadata>
        </CreateTopicResponse>
  recorded_at: Thu, 04 Jul 2019 14:00:30 GMT
- request:
    method: post
    uri: https://sns.sa-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=CreateTopic&Name=prices_production_prices_aaadjuster_alert&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190704T140030Z
      X-Amz-Content-Sha256:
      - 199848e8b70d2aba9013018810cc1beeca94a9f601a0905b42cf9aaf1365c842
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - bef302ed-8472-5bd8-87a0-57758ccc9adc
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <CreateTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <CreateTopicResult>
            <TopicArn>arn:aws:sns:sa-east-1:381158256258:prices_production_prices_aaadjuster_alert</TopicArn>
          </CreateTopicResult>
          <ResponseMetadata>
            <RequestId>bef302ed-8472-5bd8-87a0-57758ccc9adc</RequestId>
          </ResponseMetadata>
        </CreateTopicResponse>
  recorded_at: Thu, 04 Jul 2019 14:00:30 GMT
recorded_with: VCR 5.0.0
